<h2>Add by Yelp Search</h2>
<br>
<form  action="/restaurants/yelp" method="post">
  <p>City: <input type="text" name="yelp[city]"></p>
  <p>Cuisine: <input type="text" name="yelp[cuisine]"></p>
  <input type="submit" value="Search">
</form>

<h2>Add a Restaurant</h2>
<br>
<form action="/restaurants" method="post">
  <p>Name: <input type="text" name="restaurant[name]"></p>
  <p>Rating: <input type="text" name="restaurant[rating]"></p>
  <p>Address: <input type="text" name="restaurant[address]"></p>
  <input type="submit" name="submit" value="submit">
</form>
